<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" type="text/css" href="/site.css">
</head>

<body>
    <div>
        {{> aside}}
        <div id="container">
            {{> header}}
            <main>
                <h1>Welcome to SoftUni Wiki!</h1>
                {{#if errors}}
                <section id="notifications">
                    {{#each errors}}
                    <p>{{this}}</p>
                    {{/each}}
                </section>
                {{/if}}
                {{{ body }}}
            </main>
            {{> footer}}
        </div>
    </div>
</body>

</html>